Repository EquipeTantera/Landing_Page_Tantera, pull requests merged in 2024-09, with the labels that each got.

#155 Feature/search results
  src/frontend/src/components/SearchResults/SearchResults.jsx
  src/frontend/src/components/SearchResults/SearchResults.module.scss
  src/frontend/src/pages/Parceiros/index.jsx
Labels: Frontend

#187 Refactor: large product card availability
  src/frontend/public/background-sould-out.png
  src/frontend/src/components/Card/LargeCard/LargeProductCard/index.jsx
  src/frontend/src/components/Card/LargeCard/LargeProductCard/styles.module.scss
  src/frontend/src/pages/Home/index.jsx
Labels: Revisão, Frontend

#189 Partner page
  src/frontend/public/background-main.png
  src/frontend/src/components/Card/LargeCard/LargePartnerCard/styles.module.scss
  src/frontend/src/components/Header/index.jsx
  src/frontend/src/components/PaperBackground/index.jsx
  src/frontend/src/components/PaperBackground/styles.module.scss
  src/frontend/src/pages/Parceiros/index.jsx
  src/frontend/src/pages/Parceiros/styles.module.scss
  src/frontend/src/pages/Partner/index.jsx
  src/frontend/src/routes.jsx
Labels: Frontend

#190 Planning Card
  src/frontend/public/background-paper-planning-card.png
  src/frontend/public/purple-background-planning-card.png
  src/frontend/src/components/Card/PlanningCard/index.jsx
  src/frontend/src/components/Card/PlanningCard/styles.module.scss
  src/frontend/src/components/Content/index.jsx
  src/frontend/src/pages/Home/index.jsx
  src/frontend/src/pages/Home/styles.module.scss
Labels: Frontend

#191 Feature/specific product page
  src/frontend/src/components/Card/LargeCard/LargeProductCard/index.jsx
  src/frontend/src/components/Card/LargeCard/LargeProductCard/styles.module.scss
  src/frontend/src/components/HorizontalSubtitle/index.jsx
  src/frontend/src/pages/Home/index.jsx
  src/frontend/src/pages/Product/index.jsx
  src/frontend/src/routes.jsx
Labels: Frontend

#192 Feature/filter
  src/frontend/public/background-filter-title.png
  src/frontend/public/background-filter.png
  src/frontend/src/components/Buttons/FilterButton/index.jsx
  src/frontend/src/components/FilterModal/index.jsx
  src/frontend/src/components/FilterModal/styles.module.scss
  src/frontend/src/pages/Home/index.jsx
Labels: Frontend

#193 refactor: revisão de relacionamento entre entidades
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/src/api/about-us/content-types/about-us/schema.json
  src/backend/src/api/advantage/content-types/advantage/schema.json
  src/backend/src/api/banner/content-types/banner/schema.json
  src/backend/src/api/board/content-types/board/schema.json
  src/backend/src/api/category/content-types/category/schema.json
  src/backend/src/api/contact/content-types/contact/schema.json
  src/backend/src/api/faq/content-types/faq/schema.json
  src/backend/src/api/member/content-types/member/schema.json
  src/backend/src/api/partner/content-types/partner/schema.json
  src/backend/src/api/payment/content-types/payment/schema.json
  src/backend/src/api/photo-product/content-types/photo-product/schema.json
  src/backend/src/api/plan/content-types/plan/schema.json
  src/backend/src/api/planning/content-types/planning/schema.json
  src/backend/src/api/product/content-types/product/schema.json
  src/backend/src/api/purpose/content-types/purpose/schema.json
  src/backend/src/api/video/content-types/video/schema.json
  src/backend/types/generated/contentTypes.d.ts
  src/backend/yarn.lock
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: Backend, TanTech

#209 Carousel large partner card
  src/frontend/src/components/Card/Common/Impacts/index.jsx
  src/frontend/src/components/Card/FormCard/index.jsx
  src/frontend/src/components/Carousels/CarouselCard/index.jsx
  src/frontend/src/components/Carousels/CarouselCard/styles.module.scss
  src/frontend/src/components/Carousels/CarouselLargePartnerCard/index.jsx
  src/frontend/src/components/Carousels/CarouselLargePartnerCard/styles.module.scss
  src/frontend/src/components/Input/index.jsx
  src/frontend/src/pages/Home/index.jsx
Labels: Frontend

#214 feat: url of partner
  src/backend/src/api/partner/content-types/partner/schema.json
Labels: Backend

#212 feat: configuração estruturação de integração com backend
  src/frontend/src/services/api.js
Labels: Backend

#211 feat: docs aws
  docs/servico-aws.md
Labels: Backend, Documentação

#213 Accordion Desktop/Mobile
  src/frontend/.eslintrc.cjs
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/public/accordion-subtitle-black.png
  src/frontend/public/accordion-subtitle-red.png
  src/frontend/public/vite.svg
  src/frontend/src/assets/react.svg
  src/frontend/src/components/Accordion/AccordionItem/index.jsx
  src/frontend/src/components/Accordion/AccordionItem/styles.module.scss
  src/frontend/src/components/Accordion/BackgroundTitle/index.jsx
  src/frontend/src/components/Accordion/BackgroundTitle/styles.module.scss
  src/frontend/src/components/Accordion/index.jsx
  src/frontend/src/components/Accordion/styles.module.scss
  src/frontend/src/components/Card/LargeCard/LargeProductCard/index.jsx
  src/frontend/src/components/Card/SmallCard/SmallProductCard/index.jsx
  src/frontend/src/components/HorizontalSubtitle/index.jsx
  src/frontend/src/components/HorizontalSubtitle/styles.module.scss
  src/frontend/src/components/MainTitle/styles.module.scss
  src/frontend/src/components/PaperBackground/styles.module.scss
  src/frontend/src/pages/Home/index.jsx
  src/frontend/src/pages/Home/styles.module.scss
  src/frontend/src/pages/Product/index.jsx
  src/frontend/src/pages/Product/styles.module.scss
  src/frontend/src/pages/Products/index.jsx
  src/frontend/src/pages/Products/styles.module.scss
  src/frontend/src/routes.jsx
  src/frontend/src/styles/index.scss
Labels: Frontend

#215 Feature/integracao partner
  src/backend/config/middlewares.js
  src/backend/config/plugins.js
  src/backend/types/generated/contentTypes.d.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/Card/LargeCard/LargePartnerCard/index.jsx
  src/frontend/src/components/Card/LargeCard/LargePartnerCard/styles.module.scss
  src/frontend/src/pages/Partner/index.jsx
  src/frontend/src/services/api.js
  src/frontend/src/services/config.js
Labels: Backend, Frontend

#216 Carousel Profile Card
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/public/arrow-left.png
  src/frontend/public/arrow-right.png
  src/frontend/src/components/Accordion/styles.module.scss
  src/frontend/src/components/Carousels/CarouselProfileCard/index.jsx
  src/frontend/src/components/Carousels/CarouselProfileCard/styles.module.scss
  src/frontend/src/components/HorizontalSubtitle/index.jsx
  src/frontend/src/components/HorizontalSubtitle/styles.module.scss
  src/frontend/src/pages/Home/index.jsx
  src/frontend/src/pages/Home/styles.module.scss
  src/frontend/src/styles/index.scss
Labels: Frontend

#220 Feature/events screen
  src/frontend/src/components/Card/FormCard/index.jsx
  src/frontend/src/components/Card/LargeCard/LargeEventCard/index.jsx
  src/frontend/src/components/Card/LargeCard/LargePartnerCard/index.jsx
  src/frontend/src/components/Card/MediumEventCard/styles.module.scss
  src/frontend/src/components/Card/SmallCard/SmallEventCard/index.jsx
  src/frontend/src/components/Carousels/CarouselLargePartnerCard/index.jsx
  src/frontend/src/components/Carousels/CarouselSmallEventCard/index.jsx
  src/frontend/src/components/Carousels/CarouselSmallEventCard/styles.module.scss
  src/frontend/src/components/Carousels/CarouselSmallProductCard/index.jsx
  src/frontend/src/components/Carousels/CarouselSmallProductCard/styles.module.scss
  src/frontend/src/components/Header/index.jsx
  src/frontend/src/components/Input/index.jsx
  src/frontend/src/components/Input/styles.module.scss
  src/frontend/src/components/MainTitle/styles.module.scss
  src/frontend/src/pages/Events/index.jsx
  src/frontend/src/pages/Events/styles.module.scss
  src/frontend/src/pages/Home/index.jsx
  src/frontend/src/pages/Home/styles.module.scss
  src/frontend/src/routes.jsx
Labels: Frontend

#222 Add sould out in small product card
  src/frontend/src/components/Card/SmallCard/SmallProductCard/index.jsx
  src/frontend/src/components/Card/SmallCard/SmallProductCard/styles.module.scss
Labels: Revisão, Frontend

#223 Small management card
  src/frontend/public/background-small-management-card.png
  src/frontend/src/components/Card/SmallCard/SmallManagementCard/index.jsx
  src/frontend/src/components/Card/SmallCard/SmallManagementCard/styles.module.scss
  src/frontend/src/pages/Home/index.jsx
Labels: Frontend

#225 feat: add others section
  src/frontend/src/pages/Events/index.jsx
Labels: Frontend

#226 Feat/integration events
  src/frontend/src/components/Card/MediumEventCard/index.jsx
  src/frontend/src/components/Card/SmallCard/SmallEventCard/index.jsx
  src/frontend/src/components/Header/index.jsx
  src/frontend/src/pages/Events/index.jsx
Labels: Backend, Frontend

#229 Feature/event registration
  src/frontend/src/components/Card/Common/TitleCardTag/styles.module.scss
  src/frontend/src/components/Card/InformationCard/EventInformationCard/styles.module.scss
  src/frontend/src/components/HorizontalSubtitle/index.jsx
  src/frontend/src/components/HorizontalSubtitle/styles.module.scss
  src/frontend/src/components/VerticalSubtitle/styles.module.scss
  src/frontend/src/pages/AboutEvent/index.jsx
  src/frontend/src/pages/AboutEvent/styles.module.scss
  src/frontend/src/pages/EventRegistration/index.jsx
  src/frontend/src/pages/EventRegistration/styles.module.scss
  src/frontend/src/pages/Events/index.jsx
  src/frontend/src/routes.jsx
Labels: Frontend
